html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}


input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #18bc9c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #18bc9c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,h2,h3,h4,h5,h6,
 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1
 {
  font-size: 39px;
}
h2 {
  font-size: 32px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 19px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 13px;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.ringer{
  margin-left: -15px;
  margin-right: -15px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio input[type="radio"]
 {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio
 {
  margin-top: -5px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
   touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #ffffff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


.blacken {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.blacken:focus,
.blacken .focus {
  color: #ffffff;
  background-color: #1a242f;
  border-color: #000000;
}
.blacken:hover {
  color: #ffffff;
  background-color: #1a242f;
  border-color: #161f29;
}
.blacken:active,
.blacken.active,
.open > .dropdown-toggle.blacken {
  color: #ffffff;
  background-color: #1a242f;
  border-color: #161f29;
}
.blacken:active:hover,
.blacken.active:hover,
.open > .dropdown-toggle.blacken:hover,
.blacken:active:focus,
.blacken.active:focus,
.open > .dropdown-toggle.blacken:focus,
.blacken:active.focus,
.blacken.active.focus,
.open > .dropdown-toggle.blacken.focus {
  color: #ffffff;
  background-color: #0d1318;
  border-color: #000000;
}
.blacken:active,
.blacken.active,
.open > .dropdown-toggle.blacken {
  background-image: none;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

input[type="submit"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ecf0f1;
}


.nav .nav-divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.headingg {
  position: relative;
  min-height: 60px;
  margin-bottom: 21px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .headingg {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .headingg-header {
    float: left;
  }
}
.headingg-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.headingg-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .headingg-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .headingg-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .headingg-collapse.in {
    overflow-y: visible;
  }
  .headingg-fixed-top .headingg-collapse,
  .headingg-static-top .headingg-collapse,
  .headingg-fixed-bottom .headingg-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.headingg-fixed-top .headingg-collapse,
.headingg-fixed-bottom .headingg-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .headingg-fixed-top .headingg-collapse,
  .headingg-fixed-bottom .headingg-collapse {
    max-height: 200px;
  }
}
.container > .headingg-header,
.container-fluid > .headingg-header,
.container > .headingg-collapse,
.container-fluid > .headingg-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .headingg-header,
  .container-fluid > .headingg-header,
  .container > .headingg-collapse,
  .container-fluid > .headingg-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.headingg-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .headingg-fixed-top{
    border-radius: 0;
  }
}
.headingg-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.headingg-brand {
  float: left;
  padding: 19.5px 15px;
  font-size: 19px;
  line-height: 21px;
  height: 60px;
}
.headingg-brand:hover,
.headingg-brand:focus {
  text-decoration: none;
}
.headingg-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .headingg > .container .headingg-brand,
  .headingg > .container-fluid .headingg-brand {
    margin-left: -15px;
  }
}

.headingg-nav {
  margin: 9.75px -15px;
}
.headingg-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}
@media (max-width: 767px) {
  .headingg-nav .open .dropdown-menu > li > a,
  .headingg-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .headingg-nav .open .dropdown-menu > li > a {
    line-height: 21px;
  }
  .headingg-nav .open .dropdown-menu > li > a:hover,
  .headingg-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .headingg-nav {
    float: left;
    margin: 0;
  }
  .headingg-nav > li {
    float: left;
  }
  .headingg-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
  }
}

.progress {
    overflow: hidden;
    height: 18px;
    margin-bottom: 18px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}



.progress .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.prog .bar {
    background-color: #dd514c;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
}

.prog .bar {
    background-color: #ee5f5b;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@media (min-width: 768px) {
  .headingg-left {
    float: left !important;
  }
  .headingg-right {
    float: right !important;
    margin-right: -15px;
  }
  .headingg-right ~ .headingg-right {
    margin-right: 0;
  }
}
.headingg-default {
  background-color: #2c3e50;
  border-color: transparent;
}
.headingg-default .headingg-brand {
  color: #ffffff;
}
.headingg-default .headingg-brand:hover,
.headingg-default .headingg-brand:focus {
  color: #18bc9c;
  background-color: transparent;
}

.headingg-default .headingg-nav > li > a {
  color: #ffffff;
}
.headingg-default .headingg-nav > li > a:hover,
.headingg-default .headingg-nav > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}
.headingg-default .headingg-nav > .active > a,
.headingg-default .headingg-nav > .active > a:hover,
.headingg-default .headingg-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}
.headingg-default .headingg-nav > .disabled > a,
.headingg-default .headingg-nav > .disabled > a:hover,
.headingg-default .headingg-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.headingg-default {
  border-color: #1a242f;
}
 
.headingg-default .headingg-collapse,
.headingg-default .headingg-form {
  border-color: transparent;
}
.headingg-default .headingg-nav > .open > a,
.headingg-default .headingg-nav > .open > a:hover,
.headingg-default .headingg-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff;
}
@media (max-width: 767px) {
  .headingg-default .headingg-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .headingg-default .headingg-nav .open .dropdown-menu > li > a:hover,
  .headingg-default .headingg-nav .open .dropdown-menu > li > a:focus {
    color: #18bc9c;
    background-color: transparent;
  }
  .headingg-default .headingg-nav .open .dropdown-menu > .active > a,
  .headingg-default .headingg-nav .open .dropdown-menu > .active > a:hover,
  .headingg-default .headingg-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1a242f;
  }
  .headingg-default .headingg-nav .open .dropdown-menu > .disabled > a,
  .headingg-default .headingg-nav .open .dropdown-menu > .disabled > a:hover,
  .headingg-default .headingg-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.headingg-default .headingg-link {
  color: #ffffff;
}
.headingg-default .headingg-link:hover {
  color: #18bc9c;
}
.headingg-default .btn-link {
  color: #ffffff;
}
.headingg-default .btn-link:hover,
.headingg-default .btn-link:focus {
  color: #18bc9c;
}
.headingg-default .btn-link[disabled]:hover,
fieldset[disabled] .headingg-default .btn-link:hover,
.headingg-default .btn-link[disabled]:focus,
fieldset[disabled] .headingg-default .btn-link:focus {
  color: #cccccc;
}


.progress {
  overflow: hidden;
  height: 21px;
  margin-bottom: 21px;
  background-color: #ecf0f1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.container:before,
.container:after,
.ringer:before,
.ringer:after,
.nav:before,
.nav:after,
.headingg:before,
.headingg:after,
.headingg-header:before,
.headingg-header:after,
.headingg-collapse:before,
.headingg-collapse:after


 {
  content: " ";
  display: table;
}
.container:after,
.ringer:after,
.nav:after,
.headingg:after,
.headingg-header:after,
.headingg-collapse:after,

.modal-footer:after {
  clear: both;
}


@-ms-viewport {
  width: device-width;
}

.headingg {
  border-width: 0;
}
.headingg-default .badge {
  background-color: #fff;
  color: #2c3e50;
}

.headingg-brand {
  line-height: 1;
}
.btn {
  border-width: 2px;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
    overflow-x: hidden;
}

a,a:hover,a:focus,a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

header {
    text-align: center;
    color: #fff;
background: #AA076B;
background: -webkit-linear-gradient(to left, #AA076B , #61045F); 
background: linear-gradient(to left, #AA076B , #61045F); 
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}


@media(min-width:768px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 100px;
    }

}

@media(min-width:768px) {
    .headingg-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .headingg-fixed-top .headingg-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .headingg-fixed-top. {
        padding: 10px 0;
    }

    .headingg-fixed-top{
        font-size: 1.5em;
    }
}

.headingg {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.headingg a:focus {
    outline: 0;
}

.headingg .headingg-nav {
    letter-spacing: 1px;
}

.headingg .headingg-nav li a:focus {
    outline: 0;
}

.headingg-default,
.headingg-inverse {
    border: 0;
	
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

/*footer*/
footer {
    color: #fff;
}
footer h3 {
    margin-bottom: 30px;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}
#bar
	{
		width:1%;
		height:100px;
	}